.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-100p {
  width: 100%;
}

.w-95p {
  width: 95%;
}

.w-90p {
  width: 90%;
}

.w-85p {
  width: 85%;
}

.w-80p {
  width: 80%;
}

.w-75p {
  width: 75%;
}

.w-70p {
  width: 70%;
}

.w-65p {
  width: 65%;
}

.w-60p {
  width: 60%;
}

.w-55p {
  width: 55%;
}

.w-50p {
  width: 50%;
}

.w-45p {
  width: 45%;
}

.w-40p {
  width: 40%;
}

.w-35p {
  width: 35%;
}

.w-30p {
  width: 30%;
}

.w-25p {
  width: 25%;
}

.w-20p {
  width: 20%;
}

.w-15p {
  width: 15%;
}

.w-10p {
  width: 10%;
}

.w-5p {
  width: 5%;
}

.w-05p {
  width: 0.5%;
}

/* Padding classes */
.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.p-15px {
  padding: 15px;
}

.p-20px {
  padding: 20px;
}

.p-25px {
  padding: 25px;
}

.p-30px {
  padding: 30px;
}

.p-35px {
  padding: 35px;
}

.p-40px {
  padding: 40px;
}

.p-45px {
  padding: 45px;
}

.p-50px {
  padding: 50px;
}

.pt-5px {
  padding-top: 5px;
}

.pt-10px {
  padding-top: 10px;
}

.pt-15px {
  padding-top: 15px;
}

.pt-20px {
  padding-top: 20px;
}

.pt-25px {
  padding-top: 25px;
}

.pt-30px {
  padding-top: 30px;
}

.pt-35px {
  padding-top: 35px;
}

.pt-30px {
  padding-top: 30px;
}

.pt-40px {
  padding-top: 40px;
}

.pt-45px {
  padding-top: 45px;
}

.pt-50px {
  padding-top: 50px;
}

.pb-5px {
  padding-bottom: 5px;
}

.pb-10px {
  padding-bottom: 10px;
}

.pb-15px {
  padding-bottom: 15px;
}

.pb-20px {
  padding-bottom: 20px;
}

.pb-25px {
  padding-bottom: 25px;
}

.pb-30px {
  padding-bottom: 30px;
}

.pb-35px {
  padding-bottom: 35px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-45px {
  padding-bottom: 45px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pt-5vh {
  padding-top: 5vh;
}

.pt-10vh {
  padding-top: 10vh;
}

.pt-15vh {
  padding-top: 15vh;
}

.pt-20vh {
  padding-top: 20vh;
}

.pt-25vh {
  padding-top: 25vh;
}

.pt-30vh {
  padding-top: 30vh;
}

.pt-35vh {
  padding-top: 35vh;
}

.pt-30vh {
  padding-top: 30vh;
}

.pt-40vh {
  padding-top: 40vh;
}

.pt-45vh {
  padding-top: 45vh;
}

.pt-50vh {
  padding-top: 50vh;
}

.pb-5vh {
  padding-bottom: 5vh;
}

.pb-10vh {
  padding-bottom: 10vh;
}

.pb-15vh {
  padding-bottom: 15vh;
}

.pb-20vh {
  padding-bottom: 20vh;
}

.pb-25vh {
  padding-bottom: 25vh;
}

.pb-30vh {
  padding-bottom: 30vh;
}

.pb-35vh {
  padding-bottom: 35vh;
}

.pb-40vh {
  padding-bottom: 40vh;
}

.pb-45vh {
  padding-bottom: 45vh;
}

.pb-50vh {
  padding-bottom: 50vh;
}

.pl-5px {
  padding-left: 5px;
}

.pl-10px {
  padding-left: 10px;
}

.pl-15px {
  padding-left: 15px;
}

.pl-20px {
  padding-left: 20px;
}

.pl-25px {
  padding-left: 25px;
}

.pl-30px {
  padding-left: 30px;
}

.pl-35px {
  padding-left: 35px;
}

.pl-40px {
  padding-left: 40px;
}

.pl-45px {
  padding-left: 45px;
}

.pl-50px {
  padding-left: 50px;
}

.pr-5px {
  padding-right: 5px;
}

.pr-10px {
  padding-right: 10px;
}

.pr-15px {
  padding-right: 15px;
}

.pr-20px {
  padding-right: 20px;
}

.pr-25px {
  padding-right: 25px;
}

.pr-30px {
  padding-right: 30px;
}

.pr-35px {
  padding-right: 35px;
}

.pr-30px {
  padding-right: 30px;
}

.pr-40px {
  padding-right: 40px;
}

.pr-45px {
  padding-right: 45px;
}

.pr-50px {
  padding-right: 50px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-10px {
  margin-top: 10px;
}

.mt-15px {
  margin-top: 15px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-35px {
  margin-top: 35px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-45px {
  margin-top: 45px;
}

.mt-50px {
  margin-top: 50px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.px-5px {
  padding: 0 5px 0 5px;
}

.px-10px {
  padding: 0 10px 0 10px;
}

.px-15px {
  padding: 0 15px 0 15px;
}

.px-20px {
  padding: 0 20px 0 20px;
}

.px-25px {
  padding: 0 25px 0 25px;
}

.pr-5px {
  padding-right: 5px;
}

.pr-10px {
  padding-right: 10px;
}

.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-10px { 
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-25px {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-35px {
  padding-top: 35px;
  padding-bottom: 35px;
}


.py-40px {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-45px {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-5vh {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.py-10vh { 
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.py-15vh {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.py-20vh {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.py-25vh {
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.py-30vh {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.py-35vh {
  padding-top: 35vh;
  padding-bottom: 35vh;
}


.py-40vh {
  padding-top: 40vh;
  padding-bottom: 40vh;
}

.py-45vh {
  padding-top: 45vh;
  padding-bottom: 45vh;
}

.py-50vh {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

/* borders */
.br-all-5 {
  border-radius: 5px;
}

.br-left-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.br-right-2 {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.br-right-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.br-top-5 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.br-bot-5 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* margin classes */
.m-5px {
  margin: 5px;
}

.m-10px {
  margin: 10px;
}

.m-15px {
  margin: 15px;
}

.m-20px {
  margin: 20px;
}

.m-25px {
  margin: 25px;
}

.m-30px {
  margin: 30px;
}

.m-35px {
  margin: 35px;
}

.m-40px {
  margin: 40px;
}

.m-45px {
  margin: 45px;
}

.m-40px {
  margin: 45px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-10px {
  margin-left: 10px;
}

.ml-15px {
  margin-left: 15px;
}

.ml-20px {
  margin-left: 20px;
}

.ml-25px {
  margin-left: 25px;
}

.ml-30px {
  margin-left: 30px;
}

.ml-35px {
  margin-left: 35px;
}

.ml-40px {
  margin-left: 40px;
}

.ml-45px {
  margin-left: 45px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-5px {
  margin-right: 5px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-15px {
  margin-right: 15px;
}

.mr-20px {
  margin-right: 20px;
}

.mr-25px {
  margin-right: 25px;
}

.mr-30px {
  margin-right: 30px;
}

.mr-35px {
  margin-right: 35px;
}

.mr-40px {
  margin-right: 40px;
}

.mr-45px {
  margin-right: 45px;
}

.mr-50px {
  margin-right: 50px;
}

.mx-5px {
  margin: 0 5px 0 5px;
}

.mx-10px {
  margin: 0 10px 0 10px;
}

.mx-15px {
  margin: 0 15px 0 15px;
}

.mx-20px {
  margin: 0 20px 0 20px;
}

.mx-25px {
  margin: 0 25px 0 25px;
}

.mx-30px {
  margin: 0 30px 0 30px;
}

.my-5px {
  margin: 5px 0 5px 0;
}

.my-10px {
  margin: 10px 0 10px 0;
}

.my-15px {
  margin: 15px 0 15px 0;
}

.my-20px {
  margin: 20px 0 20px 0;
}

.my-25px {
  margin: 25px 0 25px 0;
}

.my-30px {
  margin: 30px 0 30px 0;
}

.my-35px {
  margin: 35px 0 35px 0;
}

.my-40px {
  margin: 40px 0 40px 0;
}

.my-45px {
  margin: 45px 0 45px 0;
}

.my-50px {
  margin: 30px 0 30px 0;
}

.my-5vh {
  margin: 5vh 0 5vh 0;
}

.my-10vh {
  margin: 10vh 0 10vh 0;
}

.my-15vh {
  margin: 15vh 0 15vh 0;
}

.my-20vh {
  margin: 20vh 0 20vh 0;
}

.my-25vh {
  margin: 25vh 0 25vh 0;
}

.my-30vh {
  margin: 30vh 0 30vh 0;
}

.my-35vh {
  margin: 35vh 0 35vh 0;
}

.my-40vh {
  margin: 40vh 0 40vh 0;
}

.my-45vh {
  margin: 45vh 0 45vh 0;
}

.my-50vh {
  margin: 30vh 0 30vh 0;
}

/* Minimum Heights Classes */
.min-h-10v {
  min-height: 10vh;
}

.min-h-15v {
  min-height: 15vh;
}

.min-h-20v {
  min-height: 20vh;
}

.min-h-30v {
  min-height: 30vh;
}

.min-h-40v {
  min-height: 40vh;
}

.min-h-50v {
  min-height: 50vh;
}

.min-h-60v {
  min-height: 60vh;
}

.min-h-70v {
  min-height: 70vh;
}

.min-h-80v {
  min-height: 80vh;
}

.min-h-90v {
  min-height: 90vh;
}

.min-h-100v {
  min-height: 100vh;
}

.min-h-100px {
  min-height: 100px;
}

.min-h-200px {
  min-height: 200px;
}

.min-h-300px {
  min-height: 300px;
}

.min-h-400px {
  min-height: 400px;
}

.min-h-500px {
  min-height: 500px;
}

/* Minimum Width classes */
.min-w-10v {
  min-width: 10vh;
}

.min-w-20v {
  min-width: 20vh;
}

.min-w-30v {
  min-width: 30vh;
}

.min-w-40v {
  min-width: 40vh;
}

.min-w-50v {
  min-width: 50vh;
}

/* Maximum Heights Classes */
.max-h-10v {
  max-height: 10vh;
}

.max-h-20v {
  max-height: 20vh;
}

.max-h-30v {
  max-height: 30vh;
}

.max-h-40v {
  max-height: 40vh;
}

.max-h-50v {
  max-height: 50vh;
}

/* Maximum Width classes */
.max-w-10v {
  max-width: 10vw;
}

.max-w-20v {
  max-width: 20vw;
}

.max-w-30v {
  max-width: 30vw;
}

.max-w-40v {
  max-width: 40vw;
}

.max-w-50v {
  max-width: 50vw;
}

.max-w-100px {
  max-width: 100px;
}

.max-w-150px {
  max-width: 150px;
}

.max-w-200px {
  max-width: 200px;
}

.max-w-250px {
  max-width: 250px;
}


.max-w-300px {
  max-width: 300px;
}

.max-w-400px {
  max-width: 400px;
}

.max-w-450px {
  max-width: 450px;
}

.max-w-500px {
  max-width: 500px;
}

.mb-5v {
  margin-bottom: 5vh;
}

.mb-10v {
  margin-bottom: 10vh;
}

.mb-15v {
  margin-bottom: 15vh;
}

.mb-20v {
  margin-bottom: 20vh;
}

.mb-25v {
  margin-bottom: 25vh;
}

.mb-30v {
  margin-bottom: 30vh;
}

.mb-35v {
  margin-bottom: 35vh;
}

.mb-30v {
  margin-bottom: 30vh;
}

.mb-40v {
  margin-bottom: 40vh;
}

.mb-45v {
  margin-bottom: 45vh;
}

.mb-50v {
  margin-bottom: 50vh;
}

.mt-5v {
  margin-top: 5vh;
}

.mt-10v {
  margin-top: 10vh;
}

.mt-15v {
  margin-top: 15vh;
}

.mt-20v {
  margin-top: 20vh;
}

.mt-25v {
  margin-top: 25vh;
}

.mt-30v {
  margin-top: 30vh;
}

.mt-35v {
  margin-top: 35vh;
}

.mt-30v {
  margin-top: 30vh;
}

.mt-40v {
  margin-top: 40vh;
}

.mt-45v {
  margin-top: 45vh;
}

.mt-50v {
  margin-top: 50vh;
}

.pb-5v {
  padding-bottom: 5vh;
}

.pb-10v {
  padding-bottom: 10vh;
}

.pb-15v {
  padding-bottom: 15vh;
}

.pb-20v {
  padding-bottom: 20vh;
}

.pb-25v {
  padding-bottom: 25vh;
}

.pb-30v {
  padding-bottom: 30vh;
}

.pb-35v {
  padding-bottom: 35vh;
}

.pb-30v {
  padding-bottom: 30vh;
}

.pb-40v {
  padding-bottom: 40vh;
}

.pb-45v {
  padding-bottom: 45vh;
}

.pb-50v {
  padding-bottom: 50vh;
}

.pt-5v {
  padding-top: 5vh;
}

.pt-10v {
  padding-top: 10vh;
}

.pt-15v {
  padding-top: 15vh;
}

.pt-20v {
  padding-top: 20vh;
}

.pt-25v {
  padding-top: 25vh;
}

.pt-30v {
  padding-top: 30vh;
}

.pt-35v {
  padding-top: 35vh;
}

.pt-30v {
  padding-top: 30vh;
}

.pt-40v {
  padding-top: 40vh;
}

.pt-45v {
  padding-top: 45vh;
}

.pt-50v {
  padding-top: 50vh;
}

.show-desktop {
  display: block;
}

.show-mobile {
  display: none;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fs-18px {
  font-size: 18px;
}

.fs-20px {
  font-size: 20px;
}

.fs-22px {
  font-size: 22px;
}

.fs-24px {
  font-size: 24px;
}

.no-padding {
  padding: 0;
}

@media screen and (max-width: 768px) {
  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .text-center-mobile {
    text-align: center !important;
  }

  .no-margin-mobile {
    margin: 0;
  }

  .no-padding-mobile {
    padding: 0;
  }
}

.pointer {
  cursor: pointer;
}

.center-y {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  height: inherit;
}

.center-x {
  margin: 0 auto;
}