@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

:root {
    --midnight: #323c47;
    --skyblue: #109ED1;
    --deepskyy: #1062B5;
    --dawnsky: #AAF5FF;
    --coolgrey: #CCCED1;
    --skyyblack: #262626;
}

body {
    background-color: white;
}

.top-brand {
    max-width: 200px;
}

.text-white {
    color: white;
}

.text-blue {
    color: var(--deepskyy);
}

.text-midnight {
    color: var(--midnight);
}

.text-grey {
    color: var(--coolgrey);
}

a {
    color: var(--skyblue);
    transition: color 0.5s;
}

.no-decor {
    text-decoration: none;
}

a:hover {
    color: var(--deepskyy);
}

h1,
h2 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h3,
h4,
button {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 32px;
}

p,
h6,
label {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.list-inline-item {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.radj {
    font-family: 'Rajdhani', sans-serif;
}

.up-btn {
    text-align: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 12px;
    transition: all 0.5s;
    color: var(--skyblue);
    border: 2px solid var(--skyblue);
}

.up-btn:hover {
    color: var(--deepskyy);
    border: 2px solid var(--deepskyy);
}

.up-btn i {
    margin-top: 4px;
}

.btn {
    -webkit-transform: skew(-18deg, 0deg);
    -moz-transform: skew(-18deg, 0deg);
    -o-transform: skew(-18deg, 0deg);
    -ms-transform: skew(-18deg, 0deg);
    transform: skew(-18deg, 0deg);
    min-width: 150px;
    border-radius: 8px 0 8px 0;
    margin: 10px;
}

.btn-primary {
    background-color: var(--deepskyy);
    border: none;
}

.btn-secondary {
    background-color: var(--coolgrey);
    border: none;
}

.btn-text {
    -webkit-transform: skew(18deg, 0deg);
    -moz-transform: skew(18deg, 0deg);
    -o-transform: skew(18deg, 0deg);
    -ms-transform: skew(18deg, 0deg);
    transform: skew(18deg, 0deg);
    margin: 0;
    font-weight: 00;
    font-family: 'Rajdhani', sans-serif;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--deepskyy);
}

#top {
    background-repeat: no-repeat;
    background-image: url(../img/top-section-bg.jpg);
    background-position-x: right;
    background-position-y: -25vh;
    background-size: 100%;
}

#what {
    padding: 15vh 0 15vh 0;
}

.top-text {
    background-image: url('../img/Mask_1.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: -25vw;
    background-position-y: bottom;
}

.why-text {
    background-image: url(../img/why-text-bg-lg.svg);
    background-repeat: no-repeat;
    text-align: right;
    background-size: auto 100%;
    background-position-y: -2.5px;
    background-position-x: 40vw;
    min-width: 50vw;
}

.economics-text{
    background-image: url(../img/why-text-bg-lg-flipped.svg);
    background-repeat: no-repeat;
    color: white;
    background-size: auto 100%;
    background-position-x: -25vw;
    min-width: 50vw;
}


#top h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 12.5vh;
    padding-right: 15px;
    color: var(--midnight);
    text-transform: none;
}

#top h4 {
    height: 48px;
}

#aviation h3 {
    color: var(--deepskyy);
}

.pitch-card img {
    max-height: 75px;
}

.pitch-card h3 {
    margin-top: 25px;
    min-height: 2rem;
}

.pitch-card p {
    padding: 10px;
}

.social-media-row a {
    font-size: 16px;
    margin: 0 5px 0 5px;
}

#mainNav {
    position: fixed;
    z-index: 125;
    width: 100%;
    height: 55px;
    transition: all 0.5s;
}

.navbar-active {
    background-color: white;
    opacity: 100;
    box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inactive {
    opacity: 0;
}

a {
    text-decoration: none;
}

.fullnav-menu {
    position: fixed;
    z-index: -1;
    background-color: white;
    opacity: 0;
    transition: all 0.25s;
}

#right-menu {
    position: fixed;
    z-index: 150;
    font-size: 21px;
    bottom: 50px;
    right: 0px;
    opacity: 100;
    transition: all 1s;
}

.hidden {
    z-index: -1 !important;
    opacity: 0 !important;
}

.modal-header {
    border: none;
}

.fullnav-active {
    z-index: 175;
    opacity: 1;
    width: 100vw;
    height: 100vh;
}

.at-top {
    color: white;
    border-color: white;
}

.team-img {
    max-width: 200px;
    margin: 50px 0 50px 0;
}

.text-typeout {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 24px;
    min-height: 72px;
}

.gradient-1 {
    background: linear-gradient(to bottom, var(--deepskyy), var(--skyblue));
}

#partners img {
    max-width: 200px;
    padding: 10px;
}

.centralised {
    padding: 10vh 0 10vh;
}

@media screen and (max-width: 3840px) and (min-width: 2561px) {
    .top-text {
        background-size: 125%;
    }

    #top {
        background-size: 50%;
        background-position-y: -19.5vh;
    }

    .why-text {
        background: url('assets/img/Mask_2.svg');
        background-repeat: no-repeat;
        background-position-x: 50px;
    }
}

@media screen and (max-width: 2560px) and (min-width: 1921px) {
    .top-text {
        background-size: 125%;
    }

    #top {
        background-size: 50%;
        background-position-y: -8.5vh;
    }

    .why-text { 
        background-repeat: no-repeat;
        background-position-x: 42.5vw;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1761px) {
    #top {
        background-size: 75%;
        background-position-y: -22.5vh;
        background: url('assets/img/top-section-bg-sm.jpg')
    }

    .top-text {
        background-size: 175%;
        background-position-x: -60vw;
        background-position-y: bottom;
    }
    .economics-text{ 
        background-position-x: -30vw;
    }
}

@media screen and (max-width: 1760px) and (min-width: 1367px) {
    #top {
        background-size: 80%;
        background-position-y: -22.5vh;
    }

    .top-text {
        background-size: 150% auto;
        background-position-x: -45vw;
        background-position-y: bottom;
    }
    .economics-text{ 
        background-position-x: -50vw;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1025px) {
    #top {
        background-size: auto 100%;
        background-position-y: -5vh;
    }

    .top-text {
        background-size: 200%;
        background-position-x: -70vw;
        background-position-y: bottom;
    }
    .why-text { 
        background-repeat: no-repeat;
        background-position-x: 32.5vw;
    }
    .economics-text{ 
        background-position-x: -65vw;
    }
}
@media screen and (max-width:1120px) { 
    .economics-text{    
        color: var(--midnight);
        background-position-x: -65vw;
    }
}
@media screen and (max-width: 1024px) and (min-width: 968px) {
    #top {
        background-size: auto 100%;
        background-position-y: -5vh;
    }

    #top h1 {
        font-weight: 400;
        font-size: 32px;
        margin-top: 7.5vh;
    }

    .top-text {
        background-size: 200%;
        background-position-x: -70vw;
        background-position-y: bottom;
    }

    .central-img {
        margin-top: 175px;
    }
}

@media screen and (max-width: 884px) {
    .central-img {
        padding: 0 50px;
    }

    .why-text {
        background-image: none;
        color: white;
    }


    .top-text {
        background: none;
    }

    #top h1 {
        text-align: center;
        font-size: 32px;
        margin-top: 6.5vh;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding: 7.5px;
    }

    .text-typeout, .subtitle {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding: 7.5px;
        height: auto;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {    
    
    .central-img {
        margin-top: 50px;
    }

}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 32px;
    }

    #footer {
        text-align: center !important;
    }
    .top-subtitle{ 
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        padding: 7.5px;
    }
    #top {
        border: none;
        background-position-y: bottom;
        background-size: auto 100%;
    }

}

@media screen and (max-width: 376px) {
    h1 {
        font-size: 24px;
    }

    #top h1 {
        font-size: 24px;
    }

    #top {
        border: none;
    }

    .top-text {
        background: none;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 24px;
    }

    #top h1 {
        font-size: 24px;
    }

    .top-text {
        background: none;
    }
}